body {
  background-color: #f8f9fa; /* Fondo claro */
  font-family: "Carbin", sans-serif; /* Fuente de Google */
}

.navbar-nav {
  margin-left: 0; /* Asegura que no haya margen izquierdo */
  display: flex; /* Utiliza flexbox para alinear los elementos */
}

.nav-link {
  margin-right: 10px; /* Espaciado entre los enlaces */
}
.navbar {
  background-color: #000; /* Negro sólido */
}
.navbar-brand img {
  width: 100px; /* Ajusta el tamaño a tu preferencia */
  height: auto; /* Mantiene la proporción de la imagen */
}

.carousel {
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Oculta partes que sobresalen */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
}

.carousel-item img,
.carousel-item video {
  border-radius: 15px; /* Bordes redondeados para imágenes y videos */
  width: 100%;
  height: auto;
}

.carousel-indicators button {
  background-color: black; /* Color negro para los indicadores */
  opacity: 0.7; /* Opcional: Ajustar la opacidad */
  transition: opacity 0.3s; /* Transición suave */
}

.carousel-indicators button.active {
  background-color: #dc3545; /* Color rojo para el indicador activo */
  opacity: 1; /* Totalmente opaco */
}

.carousel-indicators button:hover {
  opacity: 1; /* Totalmente opaco al pasar el mouse */
}

/* Estilo para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Color negro para las flechas */
  border-radius: 50%; /* Flechas circulares */
  padding: 10px; /* Espaciado interno */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo al pasar el mouse */
}

/* Estilo del contenedor de detalles del vehículo */
.vehicle-details {
  margin-top: 20px;
  background-color: white; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

h1 {
  color: #dc3545; /* Título en color rojo */
  text-align: left; /* Alinear a la izquierda */
  margin-bottom: 20px; /* Espaciado inferior */
}

p {
  text-align: justify; /* Justificar texto */
}

.btn-outline-danger {
  border-color: #dc3545; /* Color del borde */
  color: #dc3545; /* Color del texto */
}

.btn-outline-danger:hover {
  background-color: #dc3545; /* Color de fondo al pasar el mouse */
  color: white; /* Color del texto al pasar el mouse */
}

@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas */
  .vehicle-details {
    padding: 10px; /* Menor espaciado interno en pantallas pequeñas */
  }

  h1 {
    font-size: 24px; /* Tamaño de fuente menor */
  }
}
